<header></header>

<section>
    <div class="col-xs-8 col-xs-offset-2 news-list">

        <ng-template ngFor let-item [ngForOf]="posts" let-i="index" >

            <div *ngIf="i < 5" class="news-item">
<!--                <form [formGroup]="form" class="ui-fieldset" role="form" autocomplete="off" (ngSubmit)="submit(i)">-->
                    <div class="news-item__img">
                        <img src="assets/img/lentach_logo.jpg"/>
                    </div>
                    <div class="news-list__content">
                        <div class="news-item__title">
                            <input *ngIf="item.editable; else elseBlockTitle" name="title"
                                   type="text" value="{{item.title}}"
                                   (keyup)="onKeyUp($event, i)"
                            >
                            <ng-template #elseBlockTitle><span (click)="editNew(i)">{{item.title}}</span></ng-template>
                        </div>
                        <div class="news-item__description">
    <!--                        <textarea *ngIf="item.editable; else elseBlock">-->
    <!--                        </textarea>-->
                            <ckeditor [editor]="Editor" data="{{ item.text }}" *ngIf="item.editable; else elseBlock" (change)="onChange($event)"></ckeditor>
                            <ng-template #elseBlock>
                                <div [innerHTML]="item.text"></div>
                            </ng-template>
                        </div>

                        <button type="submit" class="btn btn-primary submit" *ngIf="item.editable" (click)="submit(i)">
                            Сохранить
                        </button>
                    </div>
<!--                </form>-->
            </div>
        </ng-template>
    </div>
</section>

<footer>

</footer>